<div
    class="pt-5"
    style="background-image: url(&quot;assets/img/sebastian-unrau-v4e3JI7DDHI-unsplash.jpg&quot;);background-position: center;background-size: cover;width: 100%;height: 100%;">
    <div class="container-fluid" style="width: 100%;height: 100%;">
        <div class="row register-form">
            <div class="col-md-8 offset-md-2">
                <form class="custom-form" style="background-color: #f0f0f0;" (ngSubmit)="onSubmit()">
                    <h1>Cadastre-se</h1>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Nome</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" name="nome" [(ngModel)]="usuario.nome"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="email-input-field">E-mail</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="email" name="email" [(ngModel)]="usuario.email"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="pawssword-input-field">Senha</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="password" name="password" [(ngModel)]="usuario.senha"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="repeat-pawssword-input-field">Repetir Senha</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="password" name="repead-password"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Telefone</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="number" name="tel" [(ngModel)]="usuario.telefone"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Documento de Identificação</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" name="documento" [(ngModel)]="usuario.documento"/>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="dropdown-input-field">Eu Sou</label>
                        </div>
                        <div class="col-sm-4 input-column">
                            <div class="dropdown">
                                <select class="btn btn-light dropdown-toggle" role="menu" (change)="userType = $event.target.value">
                                    <option selected *ngIf="!userType">Escolha uma opção</option>
                                    <option class="dropdown-item" role="presentation" [value]="userTypeEnum.beneficiario">Beneficiário</option>
                                    <option class="dropdown-item" role="presentation" [value]="userTypeEnum.doador">Doador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="dropdown-input-field">Observação: A conta de beneficiário é permitida apenas para os alunos do colégio unasp</label>
                        </div>
                    </div>
                    <div class="form-row form-group" *ngIf="userType == userTypeEnum.beneficiario">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">RA</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="number" name="ra" [(ngModel)]="beneficiario.ra"/>
                        </div>
                    </div>
                    <div class="form-check mb-3" *ngIf="userType == userTypeEnum.beneficiario">
                        <input class="form-check-input" type="checkbox" id="formCheck-2" [(ngModel)]="beneficiario.interno" name="interno"/>
                        <label class="form-check-label" for="formCheck-2">Eu sou interno.</label>
                    </div>
                    <!-- Image -->
                    <div class="form-row" style="width: 30%;margin: auto;">  
                        <mat-card class="col">
                                <!-- <mat-card-content>  
                                    <ul>  
                                        <li *ngFor="let file of files">  
                                            <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                                            <span id="file-label">  
                                                Envie o seu perfil
                                            </span>  
                                        </li>  
                                    </ul>  
                                </mat-card-content>   -->
                            <mat-card-actions *ngIf="!imageOk">  
                                <button mat-button color="warn" type="button" (click)="fileUploadClick()">  
                                    <mat-icon>file_upload</mat-icon>  
                                    Envie uma foto do seu perfil  
                                </button>  
                            </mat-card-actions>  
                            <mat-card-actions *ngIf="imageOk">  
                                Imagem salva
                            </mat-card-actions>  
                        </mat-card>
                        <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
                    </div>
                    <!-- End Image-->
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="formCheck-2"/>
                        <label class="form-check-label" for="formCheck-2">Eu li e estou de acordo com os termos de condilções.</label>
                    </div> -->
                    <button class="btn btn-light submit-button bg-primary" type="submit">Cadastrar!</button>
                    <br>
                    <a routerLink="/login">Entrar</a>
                </form>
            </div>
        </div>
    </div>
</div>
