<div class="login-card">
    <div class="row">
        <div class="col">
            <h1>Solidario</h1>
        </div>
    </div>
    <form class="form-signin" (ngSubmit)="login()">
        <span class="reauth-email"></span>
        <input type="email" class="form-control" id="inputEmail" required name="email" placeholder="E-mail" autofocus 
            [(ngModel)]="user.email"/>
        <input type="password" class="form-control" id="inputPassword" required name="pass" placeholder="Senha" 
            [(ngModel)]="user.pass"/>
        <div class="checkbox">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="formCheck-2" />
                <label class="form-check-label" for="formCheck-2">Me lembrar</label>
            </div>
        </div>
        <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Entrar</button>
    </form><a class="forgot-password" routerLink="./forgot-pass">Esqueci a senha</a>
</div>