<div id="main">
    <section id="index">
        <nav class="navbar navbar-light navbar-expand-md bg-secondary" id="nav-bar">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="#">Solidário</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation">
                            <button class="btn btn-primary" id="sign-up-btn" type="button" routerLink="/new-account">Cadastre-se</button>
                        </li>
                        <li class="nav-item ml-2" role="presentation">
                            <button class="btn btn-primary" id="enter-btn" type="button" routerLink="/login">Entrar</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1
                            class="mb-5"
                            style="font-family: cursive;font-weight: 600;text-shadow: 3px 3px 4px #333;">
                            <strong>Levem os fardos pesados uns dos outros e, assim, cumpram a lei de Cristo.</strong>
                            <br><br><strong>Gálatas 6:2</strong><br>
                        </h1>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <section class="bg-light pt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Ajude os nossos alunos a se formarem</h1>
                    <p>
                        <br>
                        Nosso sistema fornece serviços para que pessoas
                        se se importam com o futuro dos alunos a ajudar os alunos a se superarem.
                        Se inscrevendo no site, você pode ajudar os alunos por meio de doações
                        que os alunos necessitam, como com roupas, comidas, peças de higiene e muito mais.
                        <br>
                                <br></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
